body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  touch-action: manipulation; /* タッチ操作のマニピュレーションを有効にする */
}

canvas {
  border: 1px solid black;
  background-color: #f0f0f0;
  margin: 10px;
}

.next-piece {
  margin-top: 10px;
  margin-right: 10px;
}

.prediction {
  color: #0000004d;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
}

#container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

#tetris {
  margin: 20px; /* 余白を20pxに変更 */
}

.button-container {
  flex-direction: row; /* ボタンを横並びに */
  margin-top: 10px; /* 上の間隔 */
  user-select: none;
}

.button {
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

#nextPieceCanvas {
  margin: 10px;
}

.String {
  margin: 10px;
}

@media (max-width: 600px) {
  #container {
    flex-direction: column; /* コンテナ内の要素を縦に配置 */
    align-items: center; /* 要素を中央揃え */
  }

  #sidePanel {
    width: calc(
      100% - 20px
    ); /* サイドパネルの幅を100%にして、左右に10pxの余白を持たせる */
    margin: 10px;
    display: flex;
    justify-content: center; /* 中央揃え */
  }

  .button-container {
    flex-direction: row; /* ボタンを横並びに */
    margin-top: 10px; /* 上の余白 */
    justify-content: center; /* ボタンを中央揃え */
  }
}
